<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                  arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\application.jar&quot;"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\httpplatform-stdout"
                  startupTimeLimit="180" />
  </system.webServer>
</configuration>
